.bubbr { 
  padding-left: 50px;
  font-size: 95px;
  line-height: 52px;
  border-bottom-width: 11px;
  border-top-width: 48px;
  border-left-width: 78px;
  border-bottom-width: 40px;
  margin-right: 76px;
}
