.bubbr { 
  padding-left: 50px;
  font-size: 95px;
  line-height: 52px;
  border-bottom-width: 11px;
  border-top-width: 48px;
  border-left-width: 78px;
  border-bottom-width: 40px;
  margin-bottom: 68px;
  padding-right: 44px;
  margin-top: 82px;
  margin-bottom: 92px;
  margin-top: 11px;
  padding-right: 81px;
  border-left-width: 36px;
  margin-bottom: 87px;
  border-left-width: 67px;
  font-size: 64px;
  padding-top: 68px;
  font-size: 71px;
  margin-left: 64px;
  padding-left: 83px;
  font-size: 2px;
  margin-left: 90px;
  padding-right: 24px;
  border-right-width: 88px;
  border-top-width: 27px;
  border-bottom-width: 4px;
  padding-right: 5px;
  border-right-width: 31px;
  border-bottom-width: 9px;
  margin-bottom: 12px;
  border-bottom-width: 75px;
  border-left-width: 58px;
  font-size: 99px;
  padding-right: 64px;
  padding-bottom: 54px;
  border-bottom-width: 16px;
  margin-right: 39px;
  padding-top: 30px;
  padding-left: 19px;
  margin-bottom: 55px;
  border-right-width: 69px;
  border-left-width: 43px;
  padding-top: 27px;
  border-right-width: 73px;
  margin-top: 8px;
  padding-right: 24px;
  border-left-width: 66px;
  padding-left: 24px;
  margin-right: 8px;
  margin-top: 95px;
  padding-top: 24px;
  padding-top: 14px;
  border-bottom-width: 81px;
  margin-right: 26px;
  border-left-width: 86px;
  font-size: 65px;
  border-left-width: 21px;
  padding-bottom: 28px;
  padding-bottom: 24px;
  padding-bottom: 5px;
  border-right-width: 14px;
  margin-bottom: 27px;
  padding-top: 66px;
  margin-top: 30px;
  border-bottom-width: 86px;
  margin-top: 77px;
  line-height: 89px;
  margin-left: 37px;
  line-height: 55px;
  padding-left: 61px;
  line-height: 74px;
  margin-right: 72px;
}
