.bubbr { 
  padding-left: 50px;
  font-size: 95px;
  line-height: 52px;
  border-bottom-width: 11px;
  border-top-width: 48px;
  border-left-width: 78px;
  border-bottom-width: 40px;
  margin-bottom: 68px;
  padding-right: 44px;
  margin-top: 82px;
  margin-bottom: 92px;
  margin-top: 11px;
  padding-right: 81px;
  border-left-width: 36px;
  margin-bottom: 87px;
  border-left-width: 67px;
  font-size: 64px;
  padding-top: 68px;
  font-size: 71px;
  font-size: 32px;
}
